.article__project {
  display: flex;
  justify-content: space-between;
  color: white;
  padding: 1.5em 0;
  margin-bottom: 6em;
}

.article__project--normal {
  flex-direction: row;
}

.article__project--reverse {
  flex-direction: row-reverse;
}

.div__info {
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: repeat(5, auto);
  min-height: 500px;
  width: 100%;
}

.div__info p {
  overflow-wrap: break-word;
  text-align: justify;
  padding-right: 1em;
  width: 90%;
  font-size: 1.2em;
}

.div__info--normal {
  left: 1.5em;
  padding-left: 3em;
}

.div__info--reverse {
  background-color: hsla(249, 100%, 75%, 0.267);
  right: 2em;
  padding: 1em;
}

.div__info h4 {
  display: flex;
  align-items: center;
  font-weight: 100;
  font-size: 1.5em;
}

.div__info h2 {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 4.5em;
}

.div__info p,
a {
  font-weight: 100;
}

.div__info a {
  position: relative;
  color: white;
  font-size: 1.3em;
}

.div__info a::after {
  display: block;
  position: absolute;
  margin-top: 5px;
  content: '';
  height: 1px;
  width: 2em;
  background-color: white;
}

.div__info a:hover::after {
  width: 6em;
  transition: width 0.5s;
}

.div__stackContainer {
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  margin-top: 10px;
}

.div__stack {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div__stack i {
  font-size: 4em;
}

.div__stack span {
  font-size: 1.1em;
  font-weight: 100;
}

.article__project img {
  object-fit: contain;
  border-radius: 5px;
}

@media (max-width: 868px) {
  .article__project--normal,
  .article__project--reverse {
    flex-direction: column-reverse;
  }

  .div__info {
    grid-template-rows: 20px 70px 200px 20px 0.5fr;
    min-height: 150px;
  }

  .div__info--normal {
    left: 0;
    padding-left: 0.5em;
  }

  .div__info--reverse {
    background-color: transparent;
    right: 0;
    padding: 0;
    padding-left: 1em;
  }

  .div__info h4 {
    margin-top: 1.2em;
    font-size: 1.5em;
  }

  .div__info h2 {
    font-size: 2.5em;
    align-items: flex-end;
  }
}

@media (min-width: 869px) and (max-width: 1100px) {
  .article__project {
    position: relative;
  }

  .div__info--normal {
    position: absolute;
    bottom: -11px;
    width: 400px;
    background-color: hsla(249, 100%, 75%, 0.267);
  }
}

@media (max-width: 428px) {
  .article__project--normal,
  .article__project--reverse {
    flex-direction: column-reverse;
  }

  .article__project {
    margin-bottom: 1.5em;
  }
}

@media (max-width: 278px) {
  .article__project--normal,
  .article__project--reverse {
    flex-direction: column-reverse;
  }
}
