.ul_social {
  display: flex;
  position: fixed;
  z-index: 30;
  top: 90%;
  left: 50%;
  transform: translateX(-50%);
  list-style: none;
  margin: 0;
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 30px;
}

.i__socialLink {
  color: #F8AE5B;
  font-size: 2em;
  margin-right: 0.5em;
}
