::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(13deg, #f8ae5b 14%, #f8ae5b 64%);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #f8ae5b 14%, #f8ae5b 64%);
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

html,
body {
  min-height: 100vh;
  min-width: 100vw;
}

body {
  overflow-x: hidden;
  font-family: 'Heebo', sans-serif;
  background-color: #02021e;
}

h1,
h2,
h3,
h4,
h5 p {
  margin: 0;
}

a {
  text-decoration: none;
}

main {
  min-height: 100%;
  min-width: 100%;
}

section {
  max-width: 1800px;
}
