.section_home {
  min-height: 100vh;
  width: 100vw;
  color: white;
}

.ul__links {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  display: flex;
  list-style: none;
  margin-left: 2em;
}

.p__home {
  font-size: 1.5em;
}

.section_home h1 {
  font-size: 8vw;
  line-height: 0.8em;
}

.section_home span {
  height: auto;
}
.h1__firtsName {
  color: white;
}

.h1__lastName {
  color: hsla(360, 100%, 100%, 0.6);
}

.div__home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.div__homeContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
}

.div__homeContent:nth-child(1n) {
  position: relative;
  bottom: 1em;
  justify-content: flex-end;
}

@media screen and (max-width: 868px) {
  .ul__links {
    display: none;
  }

  .div__home {
    flex-direction: column;
  }

  .div__homeContent {
    width: 100%;
  }

  .div__homeContent:nth-child(1n) {
    position: relative;
    top: 0;
    z-index: 10;
    justify-content: center;
  }

  .div__homeContent:nth-child(2n) {
    position: absolute;
    top: 0;
    z-index: 0;
  }
}

@media (max-width: 528px) {
  .section_home h1 {
    font-size: 13vw;
  }
}
